@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}

.clock-font {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size:60px;
    -fx-text-fill: white;
}

.weather-font {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.weather-main-font {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: white;
}

.calendar-font {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.calendar-main-font {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

/*top right bottom left*/
.label-margin {
    -fx-padding: 0px 10px 5px 0px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

/*top right bottom left*/
.label-suffix-margin {
    -fx-padding: 0px 2px 5px 0px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.icon-before-text-margin{
    -fx-padding: 0px 0px 0px 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
/*top right bottom left*/
.label-time-margin {
    -fx-padding: 0px 0px 5px 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.overview {
    -fx-background-color: black;
}

.list-cell {
    -fx-background-color: black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.subHeading {
    -fx-font-size: 30px;
    -fx-font-family: Roboto;
    -fx-text-fill: white;
}