@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}

.clock {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size:60px;
    -fx-text-fill: #FFF;
}

.weather {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: #FFF;
}

.weather-main {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 30px;
    -fx-text-fill: #FFF;
}

/*top right bottom left*/
.label-margin {
    -fx-padding: 0px 10px 5px 0px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

/*top right bottom left*/
.label-suffix-margin {
    -fx-padding: 0px 2px 5px 0px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.icon-before-text-margin{
    -fx-padding: 0px 0px 0px 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.overview {
    -fx-background-color: #000;
}